<div class="pageTitle">
  <h1>Edit <%= @user_info.user %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @user_info.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @user_info.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @user_info.object %>"/>
    <ul>
      
          <li>
            <label for="user_info[user]" class="fieldLabel">User</label>
            <input type="text" name="user_info[user]" value="<%= @user_info.user %>" <%= placeholder( "User" ) %> />
          </li>
      
          <li>
            <label for="user_info[karma]" class="fieldLabel">Karma</label>
            <input type="text" name="user_info[karma]" value="<%= @user_info.karma %>" <%= placeholder( "Karma" ) %> />
          </li>
      
          <li>
            <label for="user_info[stories]" class="fieldLabel">Stories</label>
            <input type="text" name="user_info[stories]" value="<%= @user_info.stories %>" <%= placeholder( "Stories" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>