<div id="pageTitle">
		<h1>Edit <%= @user_info.user%></h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :show, :id => @user_info.object %>
    <%= link_to "Delete", :action => :delete, :id => @user_info.object %>
</div>


<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
    	<input type="hidden" name="id" value="<%= @user_info.object %>"/>
            <table>
        		
                    <tr>
            			<td class="itemLabel">User: </td>
              			<td class="itemValue"><input type="text" name="user_info[user]" value="<%= @user_info.user %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Karma: </td>
              			<td class="itemValue"><input type="text" name="user_info[karma]" value="<%= @user_info.karma %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Stories: </td>
              			<td class="itemValue"><input type="text" name="user_info[stories]" value="<%= @user_info.stories %>"/></td>
          		    </tr>
        		
            </table>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>
