<div class="pageTitle">
  <h1>New <%= @login.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @login.object %>"/>
    <ul>
      
          <li>
            <label for="login[user]" class="fieldLabel">User</label>
            <input type="text" name="login[user]" <%=
            placeholder("User") %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>